@import-normalize;

* {
  box-sizing: border-box;
}

:root {
  --brown-color: #694a04;
  --white-color: #ffffff;
  --green-color: #70b839;
  --orange-color: #ff5722;

  --green-gradient: linear-gradient(142.82deg, #97ce4e 11.11%, #58aa2c 83.28%);
  --blue-gradient: linear-gradient(142.82deg, #5199ca 11.11%, #1593df 83.28%);
  --gold-gradient: radial-gradient(
    89.97% 63.99% at 53.6% 58.09%,
    #d49d26 0%,
    #fae355 100%
  );

  --white-transparent: rgba(255, 255, 255, 0.5);
  --brown-transparent: rgba(254, 231, 205, 0.7);

  --hover-effect: 250ms linear;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  line-height: 1.26;

  background-color: var(--white-color);
  color: var(--brown-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
